body {
  margin: 0;
  background-color: #1f2937;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #273549;
  padding: 40px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px gray;
  width: 400px;
  height: 350px;
}

h1 {
  color: white;
  font-size: 28px;
  margin: 30px 0 20px 0;
}

h1 span {
  color: #4adf86;
}

.subtitle {
  color: whitesmoke;
  font-size: 16px;
  margin: 10px 0 25px 0px;
}

#generate-btn {
  background-color: #4adf86;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 30px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #4adf86;
  margin: 20px 0;
}

.passwords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password-box {
  background-color: #1f2937;
  color: chartreuse;
  width: 43%;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}